.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}
.navigation a{
  text-decoration: none;
  color: black;
  display: flex;
}
.navigation a :hover{
  text-decoration: underline;
}
.navigation{
  padding: 5px;
  background: white;
  display: flex;
  flex-direction: row;
}
.navigation p{
  text-align: left;
  margin: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
mark{
  background: transparent;
  font-weight: 600;
}
.badge-pill{
  background: darkorange;
}
.form-group button{
  color: black;
  background: darkorange;
}
input{
  height: 15%;
  align-self: center;
}
.card-footer button{
  color: black;
  background: darkorange;
}